.container{
    width:424px;
    height:100vh;
    padding:3rem 4rem;

    background:var(--purple-500);
    color:var(--white);

    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;

    header{
        display:flex;
        align-items:center;
        grid-gap:16px;
    }

    strong{
        font-family: Lexend, sans-serif;
        font-weight: 600;
    }

    footer{
        align-self: stretch; /* ocupa a largura toda */

        &.empty .progress{
            opacity:0.5;
        }
    }


    &.modoBlack{
        background:var(--black-800);

        .emptyPlayer{
                background:linear-gradient(145deg, rgba(255,255,255,.1), rgba(255,255,255,0));
                border-color: var(--black-400);
        }
        .buttons{
            button{
                
                &.playButton{
                    background:var(--black-400);
                }
            }

        }
    }
}

.currentEpisode{
    text-align:center;

    img{
        border-radius:1.5rem;
    }
    strong{
        display:block;        
        margin:2rem 0 1rem 0; 
        font-family: lexend, sans-serif;
        font-size:1.1rem;
        font-weight:600;
        line-height: 1.75rem;
    }
    p{
        font-size:0.825rem;
        opacity:.6;
        line-height: 1.5rem;
    }
}


.emptyPlayer{
    width:100%;
    height:346px;
    border:1.5px dashed var(--purple-300);
    border-radius:1.5rem;
    background:linear-gradient(143deg, rgba(145,100,250,.8), rgba(0,0,0,0));
    padding:4rem;
    text-align: center;

    display:flex;
    align-items:center;
    justify-self: center;
}

.progress{
    display:flex;
    align-items:center;
    grid-gap:.2rem;
    font-size:0.875rem;

    span{
        display:inline-block;
        width:4rem;
        text-align:center;
    }
    .slider{ 
        flex:1;

        .emptySlider{
            width:100%;
            height:4px;
            background:var(--purple-300);
            border-radius:2px;
        }
    }
}

.buttons{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:2.5rem;
    grid-gap:1.5rem;


    button{
        transition:.2s;

        &:disabled{
            cursor:default;
            opacity: .5;
        }

        &:hover:not(:disabled){
            filter: brightness(.7);
        }

        &.playButton{
            width:4rem;
            height:4rem;
            border-radius: 1rem;
            background:var(--purple-400);
         
            &:hover:not(:disabled){
                filter:brightness(.95);
            }
        }
        &.isActive{
            filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
        }
        &.isActive:hover{
            filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
        }
    }

    .btnActivePlayer{
        display:none;
    }
}

@media (max-width:1300px){
    .container{
        box-shadow: 0 0 10px rgba(0,0,0,.4);
        z-index:100;
        
        .btnActivePlayer{
            display:block;
            position:absolute;
            color:white;
            background:var(--purple-500);
            border-radius:0 0 0 15px;
            left: -40px;
            top: 104px;
            width: 40px;
            height: 40px;
            font-size:1.1rem;
        }

        position: fixed;
        left:calc(100% - 10px);

        transition:.2s;

        .progressLeft{
            position:absolute;
            left:0px;
            top:0;
            bottom:0;
            width:10px;
            background:var(--purple-300);
            transition:.2s;
        }

        &.activePlayer{
            left:calc(100% - 424px);

            .progressLeft{
                width:5px;
            }
        }
        
        &.modoBlack{
            .btnActivePlayer{
                background:var(--black-800);
            }
            .progressLeft{
                background:var(--black-600);
            }
        }
        
    }
    
}
@media (max-width:480px){
    .container{
        width:100%;
        height:100vh;
        padding:3rem 3rem;
        left:calc(100% - 10px);

        &.activePlayer{
            left: 0;

            .btnActivePlayer{
                left:5px;
                top:0px;
                background:var(--purple-800);
                border-radius:0 0 10px 0px;
            }
        }

        &.modoBlack{
            &.activePlayer{             
                .btnActivePlayer{
                    background:var(--black-400);
                }
            }
        }
    }
}